{% extends 'base.html' %}
{% block title %}
Учебник
{% endblock %}


{% block main %}
<div class="container">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Официальная документация (JS)</a></li>
        <li class="list-group-item"><a href="https://learn.javascript.ru/array-methods">Методы массивов (JS)</a></li>
        <li class="list-group-item"><a href="https://learn.javascript.ru/object">Объекты (JS)</a></li>
        <li class="list-group-item"><a href="https://learn.javascript.ru/object">Типы данных (JS)</a></li>
        <li class="list-group-item"><a href="http://typescript-lang.ru/docs/Generics.html">Дженерики (TS)</a></li>
        <li class="list-group-item"><a href="http://typescript-lang.ru/docs/Interfaces.html">Интерфейсы (TS)</a></li>
        <li class="list-group-item"><a href="http://typescript-lang.ru/docs/Advanced%20Types.html">Продвинутые типы (TS)</a></li>
        <li class="list-group-item"><a href="http://typescript-lang.ru/docs/Enums.html">Enums (TS)</a></li>
        <li class="list-group-item"><a href="https://ru.reactjs.org/docs/react-dom.html">Виртуальный DOM (React)</a></li>
        <li class="list-group-item"><a href="https://ru.reactjs.org/docs/hooks-overview.html">Краткий обзор хуков (React)</a></li>
        <li class="list-group-item"><a href="https://ru.reactjs.org/docs/testing.html">Основы тестирования (React)</a></li>
        <li class="list-group-item"><a href="https://ru.reactjs.org/docs/conditional-rendering.html">Условный рендеринг (React)</a></li>

      </ul>
</div>
{% endblock %}